.tab{
  cursor: pointer;
  display: inline-block;
  /*padding: 0 0.4rem 0 0;*/
  /*margin: 0 0.3rem 0 0;*/
  padding: 0.3rem 0.2rem;
  margin: 0 0.2rem;

  &:before{
    content: '';
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    height: 0.2rem;
    width: 0;
    transition: #{$default-transition-time * 2} ease width;
    background-color: $light-green-color;
  }

  &.active{
    position: relative;
    /*background-color: pink;*/
    /*box-shadow: 0px 0px 2px 0px grey;*/
    @extend .default-shadow;
    @include border-radius(5px);
    /*border: 2px solid tomato;*/
  }

  &.active:before{
    width: 100%;
  }

  .btn{
    background-color: transparent;
    padding: 0.2rem 0.3rem;
    margin: 0;
  }
}