$settings-translate-x: -10rem;

.settings{
  @extend .default-shadow;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  z-index: 3;
  background-color: $white-color;
  transition: $default-transition-time ease;

  &.settings-animation-enter {
    opacity: 0.3;
    transform: translateZ(0) translateX($settings-translate-x);
  }

  &.settings-animation-enter-active {
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }

  &.settings-animation-exit {
    opacity: 1;
  }

  &.settings-animation-exit-active {
    opacity: 0;
    transform: translateZ(0) translateX($settings-translate-x);
  }

  &.settings-animation-enter-done{
    transform: translateZ(0) translateX(0);
  }

  .settingsHeader{
    @include flex-center( flex, center, space-between );
    @extend .default-shadow;
    height: $navigation-height;
    padding: 0.3rem 0.4rem;
  }

  .close{
    padding: 0.3rem 0.3rem;
    border: none;
    background-color: transparent;
  }
}