.newsByCountries{

  padding-right: 0;
  overflow: hidden;

  .getNews{
    margin: 0 auto 0.8rem;
  }

  .listWrapper{
    height: 100%;
    width: 100%;
    overflow: auto;
    height: calc( 100% - 7.4rem);
    padding-right: 0.9rem;
    position: relative;
    outline: none;
  }

  .selected{
    background: #b5c0f2;
  }

  .selectWrapper{
    margin: 0.7rem 0.9rem 0.7rem 0;
    position: relative;

    &:before{
      content: '';
      width: 16px;
      height: 16px;
      top: 50%;
      right: 0.7rem;
      transform: translateY(-50%);
      position: absolute;
      background-repeat: no-repeat, repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 292.362 292.362'%3E%3Cpath fill='%23ffffff' d='M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424 C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428 s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z'/%3E%3C/svg%3E");
    }
  }

  .selectCategofies{
    @extend .default-shadow;
    @include border-radius( 3px );
    display: block;
    font-size: inherit;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    color: $white-color;
    width: 100%;
    border: 2px solid transparent;
    appearance: none;
    background-color: $light-green-color;
    cursor: pointer;
    outline: none;

    &::-ms-expand{
      display: none;
    }

    .optionCategofies{
      font-weight:normal;
      color: $black-color;
      background-color: $news-bg-color;
    }
  }

  select:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 #ffffff !important;
  }
}