.newsByCountries{

  .getNews{
    margin: 0 auto 0.8rem;
  }

  .countriesList {
    /*background-color: gold;*/
  }

  .country{

  }

  /*.link{
    @include flex-center( flex, center, flex-start );
    @include border-radius( 5px );
    font-size: 1.2rem;
    padding: 0.4rem;
    margin-bottom: 0.35rem;
    border: 1px solid $light-grey-color;
    transition: $default-transition-time ease background-color;
    position: relative;
    z-index: 0;
    color: inherit;

    &:focus{
      background-color: #8adc88;
      outline: none;
    }
  }*/
}
