.newsByCountries{

  padding-right: 0;
  overflow: hidden;

  .getNews{
    margin: 0 auto 0.8rem;
  }

  .selectCategories{
    padding-right: 0.9rem;
  }

  .listWrapper{
    height: 100%;
    width: 100%;
    overflow: auto;
    height: calc( 100% - 10rem);
    padding-right: 0.9rem;
    position: relative;
    outline: none;
  }

  .iconCategories{
    width: 26px;
    height: 26px;
  }
}
