/*.publisherList{
  color: $black-color;

  .publisher{
    @include border-radius( 5px );
    font-size: 1.2rem;
    padding: 0.4rem;
    margin-bottom: 0.35rem;
    border: 1px solid $light-grey-color;
    cursor: pointer;
    transition: $default-transition-time ease background-color;

    &:hover{
      background-color: $light-blue-color;
    }
  }
}*/