.newsByPublishers{
  position: relative;
  padding-right: 0;
  overflow: hidden;

  .description{
    margin: 0.6rem 0;
  }

  .alphabetLetter{
    @include border-radius( 5px );
    @include flex-center( inline-flex );
    text-transform: lowercase;
    background-color: $blue-color;
    color: $white-color;
    margin-right: 0.5rem;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: monospace;
  }

  .selectedPublihersList{
    @include flex-center( flex, center, flex-start );
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }

  .selectedPublihersItem{
    @extend .default-shadow;
    @include border-radius( 5px );
    padding: 0.2rem;
    margin: 0.2rem;
  }

  .delete{
    cursor: pointer;
    margin-left: 0.5rem;

    .icon.icon-close{
      width: 20px;
      height: 20px;
    }
  }

  .getNews{
    margin: 0 auto 0.5rem;
  }

  .selected{
    background: #b5c0f2;
  }

  .listWrapper{
    height: 100%;
    width: 100%;
    overflow: auto;
    height: calc( 100% - 5.4rem);
    padding-right: 0.9rem;
    outline: none;
  }
}