.tabContent{
  padding: 0 0 0 0.9rem;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  bottom: 0;

  .tabDescription{
    @include flex-center( flex, center, flex-start );
    @include border-radius( 3px );
    @extend .default-shadow;
    margin: 0;
    font-weight: normal;
    height: $height-tab-header;
    margin-right: 0.9rem;
    padding: 0 0.4rem;
    background-color: $light-green-color;
    color: $white-color;
    position: relative;
    z-index: 1;
  }

  .containerPreloader{
    width: 3rem;
    background-color: transparent;
    left: initial;
    right: 1.5rem;
    display: none;

    .circlePreloader{
      width: 25px;
      height: 25px;
      fill: $white-color;
    }
  }
}