@media( max-width: 768px ){
  .tabContent{

    .containerPreloader{
      display: flex;
    }
  }
}

@media( max-width: 450px ) {
  .tabContent{
    padding: 0 0 0 0.5rem;

    .tabDescription{
      margin-right: 0.5rem;
    }
  }
}