.news{
  @extend .default-shadow;
  transition: $default-transition-time background-color;
  position: relative;
  width: 24%;
  background-color: $news-bg-color;
  padding: 1em 1em 1.5em 1em;
  margin-top: 1.3rem;
  border-radius: 6px;

  .publishDate{
    display: inline-block;
    white-space: pre;
    line-height: 1.3rem;
    font-size: 0.9rem;
  }

  .readMoreNewsLinkForImage{
    display: block;
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin: 0.8rem 0;
    background-color: $light-black-color;
  }

  .linkReadMoreNewsContainer{
    position: absolute;
    left: 1em;
    bottom: 0.1rem;
  }

  .linkReadMoreNews{
    color: $blue-color;
    font-size: 1.2rem;
    padding: 0 0 0.2rem 0rem;
    width: 9rem;
    overflow: hidden;
    position: relative;
    display: inline-block;

    &:after{
      content: '';
      background-image: url('../images/icon-external-reference.png');
      background-size: contain;
      width: 1.2rem;
      height: 1.2rem;
      display: inline-block;
      position: relative;
      left: 0.7rem;
      top: 0.2rem;
    }

    &:before{
      content: '';
      width: 73%;
      height: 0.1rem;
      display: inline-block;
      position: absolute;
      bottom: 0.2rem;
      left: -100%;
      background-color: $blue-color;
      transition: $default-transition-time ease left, right;
    }

    &:visited:before{
      background-color: $purple-color;
    }
  }

  .author{
    margin: 0;
    word-break: break-word;
    margin-top: 0.35rem;

    small{
       margin-right: 0.45rem;
     }
  }

  .source{
    display: block;
    font-size: 0.9rem;
  }

  .newsTitle,
  .description,
  .content{
    margin: 0.7rem 0;
    white-space: pre-wrap;
    word-break: break-word;
    width: 100%;
  }

  .description{
    font-size: 1.1rem;
    font-weight: normal;
  }

  .wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.30);
    opacity: 0;
    transition: $default-transition-time ease opacity;

    &:before{
      content: '';
      background-image: url('../images/icon-external-reference.png');
      width: 50px;
      height: 50px;
      display: inline-block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-size: contain;
    }
  }

  .newsImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ($default-transition-time * 2) ease transform;
  }

  .imgNotAvailable{
    @include flex-center;
    height: 100%;
    font-size: 1.5rem;
    padding: 0 1rem;
    background-color: $light-grey-color;
    text-transform: uppercase;
    color: $white-color;
    text-align: center;
  }
}