@media( min-width: 1024px ) {
  .calendar{

    .day{

      &:hover{
        background-color: $light-green-color;
        color: $white-color;
      }
    }
  }
}

@media( max-width: 450px ) {
  .calendar{
    width: 100%;
  }
}