.userSettings{
  position: relative;
  margin-top: 0.6rem;
  outline: none;

  .wraperLabels{
    @include flex-center( flex, center, flex-start );
    width: 100%;
  }

  .containerInputRadio{
    width: auto;
    margin: 0 1rem 0 0;
  }
}