.default-shadow{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.icon{
  width: 40px;
  height: 40px;
  fill: $black-color;
  vertical-align: middle;
  transition: $default-transition-time ease transform;

  &.icon-close{
    fill: $blue-color;
  }

  &.icon-settings{}

  &.icon-newspaper{}

  &.icon-location{}

  &.icon-search{}

  &.icon-logo{
    width: 45px;
    height: 45px;
  }

  &.icon-arrow-left,
  &.icon-arrow-right{
    width: 35px;
    height: 35px;
    fill: $white-color;
  }

  &.icon-calendar{}
}

.btn{
  @include border-radius(5px);
  border: 2px solid transparent;
  padding: 0.4rem 0.8rem;
  font-size: 1.3rem;
  color: $white-color;
  background-color: $light-grey-color;
  cursor: pointer;
  outline: none;
}

.wrapperTabContent{
  height: calc( 100% - #{$height-tab-header} );
  overflow: auto;
  padding-right: 0.9rem;
}

.rowForSettings{
  @include flex-center( flex, flex-start, center );
  @include border-radius( 3px );
  @extend .default-shadow;
  transition: $default-transition-time background-color;
  width: 99%;
  padding: 0.8rem 0.8rem;
  margin: 0.3rem auto 1.5rem;
  flex-direction: column;
  background-color: $news-bg-color;
}

.description{
  margin: 0.8rem 0;
  text-align: left;
  width: 100%;
}

.selectCategories{
  @include flex-center( flex, center, space-around );
  width: 100%;
  flex-wrap: wrap;
  margin: 0.6rem 0;

  .containerInputRadio{
    width: auto;
    padding: 0.3rem 0.4rem;
    font-size: 0.9rem;
    margin: 0.3rem 0.1rem;
  }
}

.getNews{
  width: 10rem;
  display: block;
  background-color: $light-green-color;

  &[disabled]{
    opacity: 0.5;
    cursor: initial;
  }
}

.countriesList,
.publisherList{

  .linkItemList{
    @include flex-center( flex, center, flex-start );
    @include border-radius( 5px );
    font-size: 1.2rem;
    padding: 0.4rem;
    margin-bottom: 0.35rem;
    border: 1px solid $light-grey-color;
    transition: $default-transition-time ease background-color;
    position: relative;
    z-index: 0;
    color: inherit;
    outline: none;

    &.active{
      background-color: #b5c0f2;
    }
  }
}

a.link:visited{
  color: $purple-color;
}

@media ( min-width: 1024px ) {
  .linkItemList{

    &:focus{
      background-color: #b5c0f2;
      outline: none;
    }

    &:hover{
      background-color: $light-blue-color;
    }
  }

  .btn:focus{
    background-color: #cfe2f0 !important;
  }

  .getNews:focus{
    border-color: $blue-color;
    background-color: $light-green-color !important;
  }

  .outline-focus{
    outline: none;

    &:focus{
      box-shadow: 0px 0px 0px 2px $blue-color;
    }
  }

  .containerInputBtn{

    .inputRadio:focus ~ .radio{
      border: 2px solid $blue-color;
    }
  }
}

@media( max-width: 450px ){
  .wrapperTabContent{
    padding-right: 0.5rem;
  }

  .rowForSettings{
    padding: 0.8rem 0.4rem;
  }
}