body{
  margin: 0;
  -webkit-tap-highlight-color: transparent;


  main,
  section,
  header,
  footer{
    display: block;
  }

  *{
    box-sizing: border-box;
  }

  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a{
    text-decoration: none;
  }

  button::-moz-focus-inner{
    border:none;
  }
}