/*colors*/
$news-bg-color: #fbfbfb;
$black-color: #101;
$light-black-color: #2f2d2d;
$white-color: #fff;
$light-grey-color: #c1c1c1;
$light-blue-color: #dee4ff;
$blue-color: #4b4be8;
$focus-color: #cfe2f0;
$light-green-color: #76C2AF;
/*time*/
$default-transition-time: .25s;
/* */
$navigation-height: 3.8rem;

/*<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" width="30px" height="30px">
<path fill="grey" d="M64,0a64,64,0,1,0,64,64A64.07,64.07,0,0,0,64,0Zm0,122a58,58,0,1,1,58-58A58.07,58.07,0,0,1,64,122Z"/>
<path fill="green" d="M87.9,42.36,50.42,79.22,40.17,68.43a3,3,0,0,0-4.35,4.13l12.35,13a3,3,0,0,0,2.12.93h.05a3,3,0,0,0,2.1-.86l39.65-39a3,3,0,1,0-4.21-4.28Z"/>
</svg>*/