/*colors*/
$news-bg-color: #fbfbfb;
$black-color: #101;
$light-black-color: #2f2d2d;
$white-color: #fff;
$light-grey-color: #c1c1c1;
$light-blue-color: #dee4ff;
$blue-color: #4b4be8;
$focus-color: #cfe2f0;
/*time*/
$default-transition-time: .25s;
/* */
$navigation-height: 3.8rem;