.containerListNews{

  .newsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .notFound{
    color: inherit;
    text-align: center;
    font-size: 1.8rem;
  }

  .loadMore{
    @extend .default-shadow;
    width: 18rem;
    display: block;
    margin: 2rem auto;
    font-size: 1.7rem;
    padding: 0.7rem 0;
    background-color: $light-green-color;
  }

  .wrapperPreloader{

    .containerPreloader{
      position: relative;
      height: 5rem;
      background: transparent;
    }
  }
}