.searchByKeywords{
  padding-bottom: 1rem;
  margin-top: 0.6rem;
  outline: none;

  .form{
    width: 100%;
  }

  .smallText{
    display: block;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    color: #6d6b6b;
  }

  .getNews{
    margin: 2.5rem auto 1rem;
  }

  .containerInput{
    width: 100%;
    margin: auto;
    position: relative;
  }

  .inputSearch{
    @include border-radius(5px);
    font-size: inherit;
    color: inherit;
    padding: 0.4rem 0.4rem;
    border: 1px solid $light-grey-color;
    width: 100%;
    outline: none;

    &::placeholder{
      color: #817373;
    }

    &:focus{
      border-color: $blue-color;
    }

    &.notValid{
      border-color: $error-color;
    }
  }

  .openCalendar{
    @include flex-center( inline-flex, center, space-between );
    width: $width-calendar;
    margin: auto;
    background-color: $light-green-color;
    padding: 0.29rem 0.5rem;
    border: 2px solid transparent;

    &:focus{
      background-color: #76C2AF !important;
      border-color: $blue-color;
    }
  }

  .error{
    position: absolute;
    left: 0;
    top: 100%;
  }

  .selectedDate{
    font-size: 1rem;
  }
}