.containerListNews{

  .newsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .loadMore{
    @extend .default-shadow;
    width: 18rem;
    display: block;
    margin: 2rem auto;
    font-size: 1.7rem;
    padding: 0.7rem 0;
    background-color: $light-green-color;
  }
}