.newsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*background-color: tomato;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-gap: 2rem;*/
  }